// NEUTRAL

$white: #fff;
$black: #000;
$gray: #DDD;
$light_gray: #f1f1f1;
$dark_gray: #828282;

// COMPONENTS SPECIFIC

$border-gray: #e0e0e0;

// PRIMARY

$green: #219653;
$blue: #2D9CDB;
$light_green: #B6D5B9;

// FEEDBACK

$success: #27AE60;
$error: #EB5757;
$alert: #F2C94C;
