// queries

$small: 300px;
$medium: 900px;

// spacing

$tiny: 11px;
$small: 12px;
$medium: 14px;
$large: 16px;
$largest: 18px;
$bigger: 20px;
$extra_bigger: 24px;
$enormous: 32px;

// font-size

$fs-small: 12px;
$fs-medium: 14px;
$fs-base: 1rem;
$fs-large: 18px;
$fs-largest: 20px;

