// queries

$small-queries: 300px;
$medium-queries: 900px;

// spacing

$tiny: 11px;
$small: 12px;
$medium: 14px;
$large: 16px;
$largest: 18px;
$bigger: 20px;
$extra_bigger: 24px;
$enormous: 32px;

// font-size

$fs-small: 0.50rem;
$fs-medium: 0.75rem;
$fs-base: 1rem;
$fs-large: 1.5rem;
$fs-largest: 2rem;

