@import '_colors';
@import '_sizes';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  font-size: 16px;
}

.bg-success {
	background-color: $success;
}

.bg-danger {
	background-color: $error;
}

.bg-alert {
	background-color: $alert;
}
