@import "../../styles/_colors.scss";
@import "./../../styles/sizes";

.modal-container {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	background-color: $white;
	border-radius: 8px;
	padding: 1.5em;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


	@media screen and (min-width: $medium-queries) {
		top: 100px;
		left: 600px;
		right: 600px;
		bottom: 100px;
		padding: 2em;
	}
}

.container-close-btn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.cursor-pointer {
	cursor: pointer;
}
