@import "./styles/_colors.scss";
@import "./styles/sizes";

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
	overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
